# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Fichiers temporaires éditeurs
*~
*.bak
*.tmp

# Jupyter notebooks
.ipynb_checkpoints/

# Environment files
.env

# VSCode
.vscode/

# Data files
/data/
data/
*.csv
data/*.xlsx
postgres_data/

# Dossiers internes non versionnés
data/

# Secrets
secrets/
